header{
    background-color: aquamarine;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
    padding: 20px;
}

#rcorner {
    border-radius: 25px;
    border: 2px aquamarine;
    padding: 20px; 
    width: 200px;
    height: 150px;    

}
  div.pic-card{
    display: inline;
    justify-content: space-between;
  }

div.gallery {
    
    
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.container {
    padding: 10px;
  }
  div.row
  {
    display: flex;
  }
  